In [26]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from IPython.display import Image
import numpy as np
from sklearn.pipeline import make_pipeline
from sklearn.base import BaseEstimator, ClassifierMixin, TransformerMixin
from sklearn.impute import SimpleImputer

In [27]:
X = pd.read_csv('train.csv')

In [28]:
X_test = pd.read_csv('test.csv')

In [38]:
X_test.head()

,id,timestamp,product_id,product_department,product_category,card_id,user_id,C15,C16,C17,C18,C19,C20,C21,amount
0,36412270,1414635923767,c4e18dd6,85f751fd,50e219e0,7358e05e,0007ae57,320,50,2647,2,35,100148,23,191.77
1,36444068,1414636094030,c4e18dd6,85f751fd,50e219e0,7358e05e,0007ae57,320,50,2647,2,35,100148,23,191.77
2,37853449,1414662647887,c4e18dd6,85f751fd,50e219e0,7358e05e,0007ae57,320,50,2647,2,39,100148,23,191.77
3,36396815,1414637084496,c4e18dd6,85f751fd,50e219e0,7358e05e,0007ae57,320,50,2647,2,35,100148,23,191.77
4,36432507,1414634763247,c4e18dd6,85f751fd,50e219e0,7358e05e,0007ae57,320,50,2647,2,35,100148,105,191.77

In [39]:
X_test.value_counts()

AttributeError: 'DataFrame' object has no attribute 'value_counts'

In [41]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522412 entries, 0 to 522411
Data columns (total 16 columns):
id                    522412 non-null int64
timestamp             522412 non-null int64
product_id            522412 non-null object
product_department    522412 non-null object
product_category      522412 non-null object
card_id               522412 non-null object
user_id               522412 non-null object
C15                   522412 non-null int64
C16                   522412 non-null int64
C17                   522412 non-null int64
C18                   522412 non-null int64
C19                   522412 non-null int64
C20                   522412 non-null int64
C21                   522412 non-null int64
amount                522412 non-null float64
isfraud               522412 non-null int64
dtypes: float64(1), int64(10), object(5)
memory usage: 63.8+ MB

In [42]:
X = X.drop(['id'], axis =1)

In [45]:
X_test = X_test.drop(['id'], axis =1)

In [44]:
X.head()

,timestamp,product_id,product_department,product_category,card_id,user_id,C15,C16,C17,C18,C19,C20,C21,amount,isfraud
0,1413851368636,fa41b2d8,ef5ed6b8,50e219e0,ecad2386,bd544220,300,50,2312,0,167,100075,16,195.65,0
1,1413851725946,fa41b2d8,ef5ed6b8,50e219e0,ecad2386,bd544220,300,50,2312,0,167,100075,16,195.65,0
2,1413851873924,fa41b2d8,ef5ed6b8,50e219e0,ecad2386,bd544220,300,50,2312,0,167,100075,16,195.65,0
3,1413851651534,fa41b2d8,ef5ed6b8,50e219e0,ecad2386,bd544220,300,50,2312,0,167,100075,16,195.65,0
4,1413853025188,fa41b2d8,ef5ed6b8,50e219e0,ecad2386,bd544220,300,50,2312,0,167,100075,16,195.65,0

In [51]:
X['C21'].head()

0    16
1    16
2    16
3    16
4    16
Name: C21, dtype: int64

In [52]:
X_c21 = X[['C21']]

In [ ]:
from sklearn.ensemble import RandomForestClassifier