# BLU02 - Exercises Notebook

In [1]:
import hashlib # for grading

import os
import pandas as pd

from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.datasets import load_boston
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler

## 1 Read the Programs data (graded)

In this first exercise, we aim to create a single dataframe, combining all programs from all seasons.

With a caveat though: **we want to include seasons after 1900**.

In [2]:




def make_programs():
    files = os.listdir('data/programs/')
    # Create a list with the name of all files containing programs from
    # 1900 inclusive and onwards (just the filename, no complete path.)
    # files_after_1900: List[str] = ...
    # YOUR CODE HERE
    
        
    
    files_after_1900 = [x for x in files if x >= '19']


    seasons = [read_season(f) for f in files_after_1900 if '.csv' in f]
    

    
    
    # Create a list with the name of all .csv files.
    # seasons: List[pd.DataFrame] = ...
    # YOUR CODE HERE

    
    # Use pd.concat to create a single dataframe.
    # programs: pd.DataFrame = ...
    # YOUR CODE HERE
    programs = pd.concat(seasons, axis=0, ignore_index=True)


   

    # Drop the column ProgramID.
    # programs = ...
    # YOUR CODE HERE
    programs = programs.drop(columns='ProgramID')


    # Set the index to be the column GUID, and sort the dataframe by the index 
    #( use the DataFrame.sort_index() function).
    # Feel free to use method chaining if you want.
    # YOUR CODE HERE
    programs = programs.set_index('GUID')
    programs.sort_index(inplace=True)
    return programs


def read_season(file):
    path = os.path.join('data', 'programs', file)
    return pd.read_csv(path)


programs = make_programs()

In [3]:
assert programs['Season'].min() == '1900-01'

shape = str(programs.shape)
expected_hash = '16278afb4c2032bcddc35b915f5439ef586333e2723c2ba6cfb9cc1b58eca0e1'
assert hashlib.sha256(shape.encode()).hexdigest() == expected_hash

Let's preview the `programs` dataframe.

In [4]:
programs.head()

                                                  Orchestra   Season
GUID
0002718f-a7a0-4362-9366-92fabab4ff3c  New York Philharmonic  1928-29
0004749e-19e2-4c85-a51e-76a2b0987e4e  New York Philharmonic  1922-23
0008995b-f0ce-4bdb-b2f8-2fc9827430fe      New York Symphony  1925-26
0008fd59-7b87-4e87-8b42-ab5b0f8505cf  New York Philharmonic  1942-43
000c0467-d7bf-4599-8e37-c856bc13a389  New York Philharmonic  1991-92

## 2 Read the Concerts data (graded)

Read the concerts data.

Although we list all transformations step-by-step for the sake of clarity, we expect you to use method chaining.

In [5]:
concerts = pd.read_csv('./data/concerts.csv')
concerts = pd.DataFrame(concerts)
    



concerts = concerts.drop(['ProgramID', 'ConcertID'], axis = 1)
concerts

,GUID,EventType,Location,Venue,Date,Time
0,38e072a7-8fc9-4f9a-8eac-3957905c0002,Subscription Season,"Manhattan, NY",Apollo Rooms,1842-12-07T05:00:00+00:00,8:00PM
1,c7b2b95c-5e0b-431c-a340-5b37fc860b34,Subscription Season,"Manhattan, NY",Apollo Rooms,1843-02-18T05:00:00+00:00,8:00PM
2,894e1a52-1ae5-4fa7-aec0-b99997555a37,Special,"Manhattan, NY",Apollo Rooms,1843-04-07T05:00:00+00:00,8:00PM
3,34ec2c2b-3297-4716-9831-b538310462b7,Subscription Season,"Manhattan, NY",Apollo Rooms,1843-04-22T05:00:00+00:00,8:00PM
4,610a4acc-94e4-4cd6-bdc1-8ad020edc7e9,Subscription Season,"Manhattan, NY",Apollo Rooms,1843-11-18T05:00:00+00:00,NaN
5,47b6e9e8-3b18-49ea-ae2a-b9b0ca18902c,Subscription Season,"Manhattan, NY",Apollo Rooms,1844-01-13T05:00:00+00:00,8:00PM
6,5e533e4f-d4ac-4aaa-b8d2-e189f6806655,Subscription Season,"Manhattan, NY",Apollo Rooms,1844-03-16T05:00:00+00:00,NaN
7,7550f75e-5c0c-4519-9196-05a6c4e2612c,Subscription Season,"Manhattan, NY",Apollo Rooms,1844-05-18T05:00:00+00:00,NaN
8,91f716fc-090d-4c3b-85da-41122eb3fe96,Subscription Season,"Manhattan, NY",Apollo Rooms,1844-11-16T05:00:00+00:00,8:00PM
9,253d22e1-9d44-410c-ae06-61abe434e5ec,Subscription Season,"Manhattan, NY",Apollo Rooms,1845-01-11T05:00:00+00:00,8:00PM
10,6285c981-8e21-4ef1-afb2-634844dd7edb,Subscription Season,"Manhattan, NY",Apollo Rooms,1845-03-01T05:00:00+00:00,8:00PM
11,bd29d7be-ee14-4362-ae93-4d9c8a535804,Subscription Season,"Manhattan, NY",Apollo Rooms,1845-04-19T05:00:00+00:00,8:00PM
12,4b37d068-0d4b-4ba8-8885-5abefa261e91,Subscription Season,"Manhattan, NY",Apollo Rooms,1845-11-22T05:00:00+00:00,8:00PM
13,119e0eaf-077f-49f2-b396-6f7b179fe2d8,Subscription Season,"Manhattan, NY",Apollo Rooms,1846-01-17T05:00:00+00:00,8:00PM
14,676bc63e-0f45-49cd-af5a-f36c31e986a1,Subscription Season,"Manhattan, NY",Apollo Rooms,1846-03-07T05:00:00+00:00,8:00PM
15,fb00e4fb-d935-4b13-aa85-06a4d8d89a16,Subscription Season,"Manhattan, NY",Apollo Rooms,1846-04-25T05:00:00+00:00,8:00PM
16,7f9997cb-c3a4-4fc5-b241-2348944ef999,Special,"Manhattan, NY",Castle Garden,1846-05-20T05:00:00+00:00,NaN
17,a7ac4233-c065-41e7-9a36-9a5e3f5daa7b,Subscription Season,"Manhattan, NY",Apollo Rooms,1846-11-21T05:00:00+00:00,8:00PM
18,f93b6dcc-2657-44f6-a69d-0d1a5f9dd396,Subscription Season,"Manhattan, NY",Apollo Rooms,1847-01-09T05:00:00+00:00,8:00PM
19,b0704cd5-728d-4886-8445-2b0edb1abeb6,Subscription Season,"Manhattan, NY",Apollo Rooms,1847-03-06T05:00:00+00:00,8:00PM
20,343cfe16-cb4f-4557-9ed1-9a14e0725d71,Subscription Season,"Manhattan, NY",Apollo Rooms,1847-04-17T05:00:00+00:00,8:00PM
21,2634f6cb-16ee-4e4b-bd16-827db923e294,Subscription Season,"Manhattan, NY",Apollo Rooms,1847-11-27T05:00:00+00:00,8:00PM
22,5c46b292-230b-48ba-b4bd-36488059102d,Subscription Season,"Manhattan, NY",Apollo Rooms,1848-01-15T05:00:00+00:00,NaN
23,992ef3ad-b771-4f28-9f10-d917cb614a1d,Special,"Manhattan, NY",Castle Garden,1848-02-05T05:00:00+00:00,8:00PM
24,eb21a5b0-ea39-46f5-ba6b-d9dc2d06a457,Subscription Season,"Manhattan, NY",Apollo Rooms,1848-03-04T05:00:00+00:00,NaN
25,ab75ad47-55de-4119-b0b6-2b1bca15270e,Subscription Season,"Manhattan, NY",Apollo Rooms,1848-04-29T05:00:00+00:00,NaN
26,0228e89c-95a8-468e-90d8-de5ec1e80969,Subscription Season,"Manhattan, NY","Assembly Rooms, Chinese Buildings",1848-12-02T05:00:00+00:00,8:00PM
27,f5995882-6ab3-4476-8589-d7f528aa2835,Subscription Season,"Manhattan, NY","Assembly Rooms, Chinese Buildings",1849-01-27T05:00:00+00:00,8:00PM
28,37c8e3b1-78f7-43ad-ac76-5a6aec6950b7,Subscription Season,"Manhattan, NY",Apollo Saloon,1849-03-17T05:00:00+00:00,8:00PM
29,a7c94524-c8d5-4b06-97df-bdb2d6c20fd3,Subscription Season,"Manhattan, NY",Apollo Rooms,1849-05-12T05:00:00+00:00,8:00PM
...,...,...,...,...,...,...
21577,1e1114aa-7152-4305-a357-7aac149b8599,Special,"Manhattan, NY",Roxy Theatre,1950-09-10T04:00:00+00:00,NaN
21578,c7b88b6a-ee05-473e-9bd7-63f25181960e,Special,"Manhattan, NY",Roxy Theatre,1950-09-14T04:00:00+00:00,NaN
21579,b37d1833-3252-41a6-9f3e-fbd596b215b0,Special,"Manhattan, NY",Roxy Theatre,1951-05-11T04:00:00+00:00,NaN
21580,8df6f826-6ccd-4bf3-b40e-3bfe9afa7445,Special,"Manhattan, NY",Roxy Theatre,1951-05-15T04:00:00+00:00,NaN
21581,35fda061-f4c4-423c-a8ab-feb792caee34,Special,"Manhattan, NY",Roxy Theatre,1951-05-18T04:00:00+00:00,NaN
21582,c2dd5fc3-00cf-4481-9ee3-ffdc73aa8de9,Special,"Manhattan, NY",Roxy Theatre,1951-05-22T04:00:00+00:00,NaN
21583,8ad0bfa4-09b9-4b18-889b-d0c426410cbb,Special,"Manhattan, NY",Roxy Theatre,1950-09-03T04:00:00+00:00,NaN
21584,15e3058c-0658-4d73-958a-fb06f8091304,Special,"Manhattan, NY",Roxy Theatre,1950-09-07T04:00:00+00:00,NaN
21585,1e1114aa-7152-4305-a357-7aac149b8599,Special,"Manhattan, NY",Roxy Theatre,1950-09-10T04:00:00+00:00,NaN
21586,c7b88b6a-ee05-473e-9bd7-63f25181960e,Special,"Manhattan, NY",Roxy Theatre,1950-09-14T04:00:00+00:00,NaN
21587,b37d1833-3252-41a6-9f3e-fbd596b215b0,Special,"Manhattan, NY",Roxy Theatre,1951-05-11T04:00:00+00:00,NaN
21588,8df6f826-6ccd-4bf3-b40e-3bfe9afa7445,Special,"Manhattan, NY",Roxy Theatre,1951-05-15T04:00:00+00:00,NaN
21589,35fda061-f4c4-423c-a8ab-feb792caee34,Special,"Manhattan, NY",Roxy Theatre,1951-05-18T04:00:00+00:00,12:40PM
21590,c2dd5fc3-00cf-4481-9ee3-ffdc73aa8de9,Special,"Manhattan, NY",Roxy Theatre,1951-05-22T04:00:00+00:00,NaN
21591,8ad0bfa4-09b9-4b18-889b-d0c426410cbb,Special,"Manhattan, NY",Roxy Theatre,1950-09-04T04:00:00+00:00,NaN
21592,1e1114aa-7152-4305-a357-7aac149b8599,Special,"Manhattan, NY",Roxy Theatre,1950-09-11T04:00:00+00:00,NaN
21593,b37d1833-3252-41a6-9f3e-fbd596b215b0,Special,"Manhattan, NY",Roxy Theatre,1951-05-12T04:00:00+00:00,NaN
21594,35fda061-f4c4-423c-a8ab-feb792caee34,Special,"Manhattan, NY",Roxy Theatre,1951-05-19T04:00:00+00:00,NaN
21595,8ad0bfa4-09b9-4b18-889b-d0c426410cbb,Special,"Manhattan, NY",Roxy Theatre,1950-09-04T04:00:00+00:00,NaN
21596,1e1114aa-7152-4305-a357-7aac149b8599,Special,"Manhattan, NY",Roxy Theatre,1950-09-11T04:00:00+00:00,NaN
21597,b37d1833-3252-41a6-9f3e-fbd596b215b0,Special,"Manhattan, NY",Roxy Theatre,1951-05-12T04:00:00+00:00,NaN
21598,35fda061-f4c4-423c-a8ab-feb792caee34,Special,"Manhattan, NY",Roxy Theatre,1951-05-19T04:00:00+00:00,NaN
21599,8ad0bfa4-09b9-4b18-889b-d0c426410cbb,Special,"Manhattan, NY",Roxy Theatre,1950-09-04T04:00:00+00:00,NaN
21600,1e1114aa-7152-4305-a357-7aac149b8599,Special,"Manhattan, NY",Roxy Theatre,1950-09-11T04:00:00+00:00,NaN
21601,b37d1833-3252-41a6-9f3e-fbd596b215b0,Special,"Manhattan, NY",Roxy Theatre,1951-05-12T04:00:00+00:00,NaN
21602,35fda061-f4c4-423c-a8ab-feb792caee34,Special,"Manhattan, NY",Roxy Theatre,1951-05-19T04:00:00+00:00,NaN
21603,8ad0bfa4-09b9-4b18-889b-d0c426410cbb,Special,"Manhattan, NY",Roxy Theatre,1950-09-04T04:00:00+00:00,NaN
21604,1e1114aa-7152-4305-a357-7aac149b8599,Special,"Manhattan, NY",Roxy Theatre,1950-09-11T04:00:00+00:00,NaN
21605,b37d1833-3252-41a6-9f3e-fbd596b215b0,Special,"Manhattan, NY",Roxy Theatre,1951-05-12T04:00:00+00:00,12:40PM
21606,35fda061-f4c4-423c-a8ab-feb792caee34,Special,"Manhattan, NY",Roxy Theatre,1951-05-19T04:00:00+00:00,12:40PM

In [6]:
def make_concerts(): 
    # Read concerts data and drop the ProgramID and ConcertID columns.
    # concerts: pd.DataFrame = ...
    # YOUR CODE HERE
    concerts = pd.read_csv('./data/concerts.csv')
    concerts = pd.DataFrame(concerts)
    



    concerts = concerts.drop(['ProgramID', 'ConcertID'], axis = 1)
    
    # Remember to_datetime? We need here. We need to parse the columns Date and 
    # Time. Use pd.to_datetime(...).dt.date for the Date and pd_to_datetime(..., 
    # format=%I:%M%p).dt.time for the Time.
    # YOUR CODE HERE
    concerts['Date'] = pd.to_datetime(concerts['Date']).dt.date
    concerts['Time'] = pd.to_datetime(concerts['Time'], format='%I:%M%p').dt.time
     
    return concerts


concerts = make_concerts()

In [7]:
shape = str(concerts.shape)
expected_hash = 'c030586e7370b1f2c34307d5de9b921d96efa28c933e44111b121ed819f339da'
assert hashlib.sha256(shape.encode()).hexdigest() == expected_hash

sample = str(concerts.sample(random_state=0))
expected_hash = '392a3db01753b02d85173c38cde95112fb5cdf06ca5a45d25f828238d56103be'
assert hashlib.sha256(sample.encode()).hexdigest() == expected_hash

In [8]:
concerts.head()

,GUID,EventType,Location,Venue,Date,Time
0,38e072a7-8fc9-4f9a-8eac-3957905c0002,Subscription Season,"Manhattan, NY",Apollo Rooms,1842-12-07,20:00:00
1,c7b2b95c-5e0b-431c-a340-5b37fc860b34,Subscription Season,"Manhattan, NY",Apollo Rooms,1843-02-18,20:00:00
2,894e1a52-1ae5-4fa7-aec0-b99997555a37,Special,"Manhattan, NY",Apollo Rooms,1843-04-07,20:00:00
3,34ec2c2b-3297-4716-9831-b538310462b7,Subscription Season,"Manhattan, NY",Apollo Rooms,1843-04-22,20:00:00
4,610a4acc-94e4-4cd6-bdc1-8ad020edc7e9,Subscription Season,"Manhattan, NY",Apollo Rooms,1843-11-18,NaT

## 3 Combine Programs and Concerts data (graded)

Let's combine both dataframes into a single dataset, using an inner join.

In [9]:
# Remember that you want to join on the index of one of the dataframes.
# nyp = ...
# YOUR CODE HERE
nyp = concerts.join(programs, on='GUID', how='inner')

In [10]:
shape = str(nyp.shape)
expected_hash = 'a75738e37ac4ccf37a893a1009ba624efce9efaa7721d4319e9e078193fe8de6'
assert hashlib.sha256(shape.encode()).hexdigest() == expected_hash 

sample = str(nyp.sample(random_state=0))
expected_hash = 'd47ed1ab14963bb6e594ebaf8d07fc89e78e83058dc78ced57a5bf5ca200efa7'
assert hashlib.sha256(sample.encode()).hexdigest() == expected_hash

## 4 Read Works and Soloists data (graded)

We will read the two remaining pieces of data. 

Again, albeit the step-by-step description, we encourage you to use method chaining.

In [11]:
def make_works():
    # Read the works data.
    # works: pd.DataFrame = ...
    # YOUR CODE HERE
    works = pd.read_csv('./data/works.csv')
    works = pd.DataFrame(works)
    
    # Remove the Intervals (attention to the values in the Interval column).
    # works: pd.DataFrame = ...
    # YOUR CODE HERE
    mask = works['Interval'].isnull()
    works = (works.loc[mask, :].drop(columns='Interval'))
    
    
    
    # Select the columns GUID, ComposerName, WorkTitle, Movement and ConductorName.
    # YOUR CODE HERE
    columns = ['GUID', 'ComposerName', 'WorkTitle', 'Movement','ConductorName']

    works = works[columns]
    return works


def make_soloists():
    # Read the soloists data and drop ProgramID, WorkID and MovementID.
    # YOUR CODE HERE
    soloists = pd.read_csv('./data/soloists.csv')
    soloists = pd.DataFrame(soloists)
    
    soloists = soloists.drop(['ProgramID', 'WorkID', 'MovementID'], axis = 1)
    return soloists


works = make_works()
soloists = make_soloists()

In [12]:
shape = str(works.shape)
expected_hash = 'cad58aa6cd33cfa24c08a0f0f846877178ab31278f212c80b16b952d9416f883'
assert hashlib.sha256(shape.encode()).hexdigest() == expected_hash

shape = str(soloists.shape)
expected_hash = 'a7b0d20a45ff1344e0398eebb162af9afb8805082b0dfdcb70e9a4b78f94dd13'
assert hashlib.sha256(shape.encode()).hexdigest() == expected_hash

## 5 Combine Works and Soloists (graded)

Like we did for Programs and Concerts, now we combine Works and Soloists.

In [13]:
# Combine both dataframes, again using an inner type of join.
# works_and_soloists : pd.DataFrame = ....
# YOUR CODE HERE
works_and_soloists = pd.merge(works, soloists, how = 'inner' )

In [14]:
shape = str(works_and_soloists.shape)
expected_hash = 'c0e73877aac4f3916267cb58f2f122ffef32c79039bde2ecb217fda123270d12'
assert hashlib.sha256(shape.encode()).hexdigest() == expected_hash

## 6 Combine everything (graded)

The final goal here is to create a single dataframe.

In [15]:
# Combine everything into a single dataframe.
# nyp_merged = ...
# YOUR CODE HERE
nyp_merged = pd.merge(nyp, works_and_soloists)

In [16]:
shape = str(nyp_merged.shape)
expected_hash = '3c25d9867a3c0134a6625087698dac6314f7c225f806e78dd259788bedcfb10b'
assert hashlib.sha256(shape.encode()).hexdigest() == expected_hash

## 7 Final transformations (graded)

Now, we perform the train-test split.

We also perform some final transformations on both datasets:
* Include some date features: Year, Month, Day and Weekday
* Drop Date, Season and GUID
* Change the column name Orchestra to OrchestraName, for consistency with other name columns
* Filter out composers that appear in less than 100 concerts.

In [17]:



def preprocess_data(df):
    # You should follow these exact steps:
    #   1 - add_date_features, ideally using df.pipe
    #   2 - drop Date, Season and GUID
    #   3 - rename Orchestra to OrchestraName
    #   4 - filter out composers with less than 100 concerts (keep the ones with >= 100 rows)
    # YOUR CODE HERE
    df = df.copy()
    df = (df.pipe(add_date_features)
          .drop(columns = ['Date', 'Season', 'GUID'])
          .rename(columns = {'Orchestra':'OrchestraName'})
          .groupby('ComposerName').filter(lambda x: x.shape[0] >= 100))
    
    

    return df

def add_date_features(df):
    # YOUR CODE HERE
    df['Year'] = pd.to_datetime(df['Date']).dt.year
    df['Month'] = pd.to_datetime(df['Date']).dt.month
    df['Day'] = pd.to_datetime(df['Date']).dt.day
    df['Weekday'] = pd.to_datetime(df['Date']).dt.weekday
    return df





nyp_ = preprocess_data(nyp_merged)
X_train, X_test = train_test_split(nyp_, random_state=0)

In [18]:
shape = str(nyp_merged.shape)
expected_hash = '3c25d9867a3c0134a6625087698dac6314f7c225f806e78dd259788bedcfb10b'
assert hashlib.sha256(shape.encode()).hexdigest() == expected_hash

shape = str(nyp_.shape)
expected_hash = '31fa2b10222342d4743fa75b3a04c69945106f22fcf7473f5d1daeb84bca88b7'
assert hashlib.sha256(shape.encode()).hexdigest() == expected_hash

columns = str(nyp_.columns.values)
expected_hash = '7d131b98b4d7094443c094603c6db00aa20a79e49661acdefb33bf5fc1c071fa'
assert hashlib.sha256(columns.encode()).hexdigest() == expected_hash

And, finally, we would be ready to explore modeling.

For the next part, however, we will be using the famous [Boston House Prices Dataset](https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.names).

## 8 Scaling features (graded)

About the Boston dataset:

> Each record in the database describes a Boston suburb or town. The data is from the Boston Standard Metropolitan Statistical Area (SMSA) in 1970.

The features are all numerical (real, positive):
* **CRIM** - per capita crime rate by town
* **ZN** - proportion of residential land zoned for lots over 25,000 sq.ft.
* **INDUS** - proportion of non-retail business acres per town
* **CHAS** - Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
* **NOX** - nitric oxides concentration (parts per 10 million)
* **RM** - average number of rooms per dwelling
* **AGE** - proportion of owner-occupied units built prior to 1940
* **DIS** - weighted distances to five Boston employment centres
* **RAD** - index of accessibility to radial highways
* **TAX** - full-value property-tax rate per \$10,000
* **PTRATIO** - pupil-teacher ratio by town
* **B** - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
* **LSTAT** - % lower status of the population
* **MEDV** - Median value of owner-occupied homes in \$1000's.

We want to scale all features to the same range, using `sklearn.preprocessing.MinMaxScaler()`.

In [19]:
boston = load_boston()
X = pd.DataFrame(data=boston.data, columns=boston.feature_names)
y = boston.target

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

# Initialize the MinMaxScaler to a [0, 5] range.
# YOUR CODE HERE
scaler = MinMaxScaler(feature_range=(0, 5))
# Fit on the training set and transform X_train. We expect X_train_
# to be a dataframe **just like** X_train, only scaled. 
# X_train_: pd.DataFrame = ...
# YOUR CODE HERE
X_train_ = scaler.fit(X_train)
X_train_ = pd.DataFrame(scaler.transform(X_train), index=X_train.index, columns=X_train.columns)
# Transform the test set.
# X_test_: pd.DataFrame = ...
# YOUR CODE HERE
X_test_ = scaler.fit(X_test)
X_test_ = pd.DataFrame(scaler.transform(X_test), index=X_test.index, columns=X_test.columns)

In [20]:
shape = str(X_train_.shape)
expected_hash = '6f696c7e30c15aae3f0fa4807b596cf15d28cadaf33602d8d20368f7ac921f26'
assert hashlib.sha256(shape.encode()).hexdigest() == expected_hash

columns = str(X_train_.columns.values)
expected_hash = 'c4e20218e7e33f0e771a608bb05ece0152f5a15fc6a0629b6c88cef7790fbfe1'
assert hashlib.sha256(columns.encode()).hexdigest() == expected_hash

shape = str(X_test_.shape)
expected_hash = 'aa2b4e3c1e358b4b9f21c2c86bbf1187020582395419f1a02a949d7a6efac9e4'
assert hashlib.sha256(shape.encode()).hexdigest() == expected_hash

columns = str(X_test_.columns.values)
expected_hash = 'c4e20218e7e33f0e771a608bb05ece0152f5a15fc6a0629b6c88cef7790fbfe1'
assert hashlib.sha256(columns.encode()).hexdigest() == expected_hash

## 9 Build a ColumnSelector transformer (graded)

There's a simple transformer that can be useful, from times to times, when modeling.

What we want is to build a transformer that returns the columns we select beforehand. 

This transformer could be used to determine what features go into modeling.

In [21]:
class ColumnSelector(BaseEstimator, TransformerMixin):
    
    
    # Implement the __init__ method.
    # Our ColumnSelector must be able to receive a parameter columns.
    # The default value for columns must be set to 'all', so we can
    # initialize it without any explicit parameters.
    # YOUR CODE HERE
    def __init__(self, columns = all):
        self.columns = columns
            
        
    # There's no need for a fit method in this case, it does nothing.
    # We should be able to call fit without any explicit parameters.
    # Meaning: we should be able to call ColumnSelector.fit().
    # YOUR CODE HERE
    
    def fit(self, X=None):
        
        return self
    

    # Transform should return all columns if the parameter columns we
    # passed upon initialization is equal to 'all'. If a column or a
    # list of columns are passed, only those should be returned.
    # YOUR CODE HERE
    def transform(self, X):
        
        return X[self.columns]
        
        

cols = ['CRIM', 'DIS', 'INDUS', 'RM', 'DIS', 'TAX', 'B']
selector = ColumnSelector(columns=cols)
X_train__ = selector.fit_transform(X_train_)
X_test__ = selector.transform(X_test_)

In [26]:
assert(ColumnSelector())
assert(selector.fit())

shape = str(X_train__.shape)
expected_hash = '5d4f688e84beb21ec07f136c16a6cc11318d4f5de7b81bf0232e5282d9834123'
assert hashlib.sha256(shape.encode()).hexdigest() == expected_hash

columns = str(X_train__.columns.values)
expected_hash = '901009bce1feeeccadd8cd499664598ff9319641e55dcda17a650c13c0626604'
assert hashlib.sha256(columns.encode()).hexdigest() == expected_hash

shape = str(X_test__.shape)
expected_hash = '0aba1c19151f76aa2ecb00fd75be05c6f73860573972e967f3d1fe1c44ae2629'
assert hashlib.sha256(shape.encode()).hexdigest() == expected_hash

columns = str(X_test__.columns.values)
expected_hash = '901009bce1feeeccadd8cd499664598ff9319641e55dcda17a650c13c0626604'
assert hashlib.sha256(columns.encode()).hexdigest() == expected_hash

## 10 Building the pipeline (graded)

Finally, we want to use the two transformers together and run a linear regression on top.

In [33]:
# Create a pipeline including:
#   1 - 'selector', ColumSelector(columns=cols)
#   2 - 'min_max', MinMaxScaler() with same range as above
#   3 - 'model', LinearRegression
# YOUR CODE HERE
pipeline = Pipeline([('selector', ColumnSelector(columns=cols)),
                     ('min_max', MinMaxScaler(feature_range=(0, 5))),
                     ('model', LinearRegression())])

pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
print('MSE: {}'.format(mse))
print('MAE: {}'.format(mae))

TypeError: fit() takes from 1 to 2 positional arguments but 3 were given

In [34]:
assert type(pipeline) == Pipeline
assert type(pipeline.named_steps['selector']) == ColumnSelector
assert type(pipeline.named_steps['min_max']) == MinMaxScaler
assert pipeline.named_steps['min_max'].get_params()['feature_range'] == (0,5)
assert type(pipeline.named_steps['model']) == LinearRegression

Exercises complete, congratulations! You are about to become a certified data wrangler.